BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 150
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
AlignArrayOfStructures: Left
AlwaysBreakBeforeMultilineStrings: false
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements 
SortIncludes: Never
